<!-- Footer -->
<footer class="bg-dark text-white mt-5 py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h5>Konvix Technology</h5>
				<p class="small">Votre marketplace de confiance pour les produits technologiques.
				</p>
			</div>
			<div class="col-md-3">
				<h6>Informations</h6>
				<ul class="list-unstyled">
					<li>
						<a href="{{ path('app_about') }}" class="text-white-50 text-decoration-none">Qui sommes-nous ?
						</a>
					</li>
					<li>
						<a href="{{ path('app_contact') }}" class="text-white-50 text-decoration-none">Contactez-nous</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h6>Légal</h6>
				<ul class="list-unstyled">
					<li>
						<a href="{{ path('app_conditions') }}" class="text-white-50 text-decoration-none">Conditions d'utilisation</a>
					</li>
					<li>
						<a href="{{ path('app_mentions_legales') }}" class="text-white-50 text-decoration-none">Mentions légales & RGPD</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h6>Suivez-nous</h6>
				<p class="small">Restez connectés avec Konvix !</p>
				<div>
					<a href="#" class="text-white-50 me-3">
						<i class="fab fa-facebook fa-lg"></i>
					</a>
					<a href="#" class="text-white-50 me-3">
						<i class="fab fa-twitter fa-lg"></i>
					</a>
					<a href="#" class="text-white-50">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
		<hr class="bg-secondary my-3">
		<div class="text-center">
			<small>&copy;
				{{ "now"|date("Y") }}
				Konvix Technology - Tous droits réservés</small>
		</div>
	</div>
</footer>
