{% extends 'base.html.twig' %}
{% form_theme changePasswordForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 500px;">
    <h1 class="mb-4">Changer mon mot de passe</h1>
    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.currentPassword) }}
        {{ form_row(changePasswordForm.newPassword) }}
        {{ form_row(changePasswordForm.confirmPassword) }}
        <button class="btn btn-primary w-100 mt-3" type="submit">Valider</button>
    {{ form_end(changePasswordForm) }}
</div>
{% endblock %}
